/*======================================
  About
======================================*/

.header-about {
  margin: 8px 0 0 0;
  padding: 65px 0 86px 0;
  background: #102850;
  h1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 0 19px 0;
  }
  h2 {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 120%;
    text-align: center;
    color: #FF9933;
    b {
      font-family: 'Gilroy-Bold';
      font-style: normal;
      font-weight: 700;
      color: #FFFFFF;
      display: block;
    }
  }
}

.content-about {
  padding: 0 0 169px 0;
  .featured {
    @include columns( $quant: 497px 214px 264px 1fr, $gutter: 10px, $align: start, $template: '');
    padding: 73px 0 48px 0;
    .cols {
      .icon {
        fill: transparent;
        width: 32px;
        height: 32px;
        margin: 0 0 21px 0;
        &.stroke {
          stroke: #FF9933;
        }
      }
      h3 {
        font-family: 'Gilroy-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 140%;
        color: #102850;
        padding: 9px 0 0 6px;
        b {
          font-family: 'Gilroy-Bold';
          font-style: normal;
          font-weight: 500;
          ;
        }
      }
      span {
        display: block;
        font-family: 'Gilroy-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18.9082px;
        line-height: 120%;
        color: #5D6D88;
        b {
          display: block;
          font-family: 'Gilroy-Bold';
          font-style: normal;
          font-weight: 700;
          font-size: 31.0635px;
          color: #102850;
          padding: 0 0 12px 0;
          display: block
        }
      }
    }
  }
  .text-box {
    @include columns( $quant: 47% 40.8%, $gutter: 12.2%, $align: start, $template: '');
    padding: 79px 0 0 0;
    border-top: 1px solid rgba(16, 40, 80, 0.1);
    .text {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: 'Gilroy-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 140%;
        color: #102850;
        padding: 0 0 24px 0;
        b {
          font-family: 'Gilroy-Bold';
          font-style: normal;
          font-weight: 700;
        }
      }
      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #5D6D88;
        padding: 0 0 30px 0;
        b {
          font-weight: 600;
        }
      }
    }
    .images {
      padding: 10px 0 0 0;
      .image {
        width: 100%;
        height: 338px;
        background-color: rgba(16, 40, 80, 0.1);
        margin-bottom: 20px;
        border-radius: 8px;
      }
    }
  }
  .slide-four {
    margin: 7px 0 0 0;
    .slick-slide {
      margin: 0 12px;
    }
    .slick-list {
      margin: 0 -12px;
    }
    .item {
      display: block;
      width: 263px;
      height: 126px;
      padding: 24px;
      background: #F3F9FF;
      border-radius: 6px;
      .icon {
        width: 24px;
        height: 24px;
        margin: 0 0 30px 0;
        fill: transparent;
      }
      span {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: #102850;
        display: block;
      }
    }
    .slick-arrow {
      width: 40px;
      height: 40px;
      font-size: 32px;
      color: #102850;
      padding: 0 0 2px 0px;
      border: 1px solid #FFFFFF;
      border-radius: 0;
      position: absolute;
      top: 29%;
      background: transparent;
      &.slick-prev {
        left: -73px;
      }
      &.slick-next {
        right: -73px;
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}