/*======================================
  About
======================================*/

.page {
  padding: 6px 0 157px 0;
  .page-header {
    @include columns( $quant: 591px 1fr, $gutter: 0, $align: start, $template: '');
    border-top: 1px solid rgba(16, 40, 80, 0.1);
    border-bottom: 1px solid rgba(16, 40, 80, 0.1);
    margin-bottom: 67px;
    &.big {
      @include columns( $quant: 672px 1fr, $gutter: 0, $align: start, $template: '');
    }
    .text {
      padding: 57px 0 0 0;
      span {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #8791A2;
      }
      h1 {
        font-family: 'Gilroy-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 46px;
        line-height: 120%;
        color: #102850;
        padding: 10px 0 25px 0;
        b {
          font-family: 'Gilroy-Bold';
          font-weight: 700;
        }
      }
      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #5D6D88;
      }
    }
    .image {
      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: fill;
      }
    }
  }
  .page-content {
    .list-courses {
      padding: 0 0 0 8px;
      li {
        @include columns( $quant: 290px 1fr, $gutter: 32px, $align: start, $template: '');
        border-bottom: 1px solid rgba(16, 40, 80, 0.1);
        padding: 64px 0 63px 0;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border-bottom: 0;
        }
        .image {
          width: 290px;
          height: 220px;
          background: rgba(16, 40, 80, 0.1);
          border-radius: 6px;
          overflow: hidden;
        }
        .text {
          .tag {
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 500;
            font-size: 10.9854px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #8791A2;
            display: block;
            padding: 0 0 7px 0;
          }
          h2 {
            font-family: 'Gilroy-Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            color: #102850;
            padding: 0 0 15px 0;
          }
          p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #5D6D88;
            padding: 0 0 31px 0;
          }
          a {
            font-family: 'Gilroy-Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #102850;
            display: flex;
            align-items: center;
            gap: 15px;
            .icon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    .contact-us {
      h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: -0.03em;
        color: #102850;
        text-align: center;
        padding: 43px 0 56px 0;
      }
      form {
        @include columns( $quant: 1fr 1fr, $gutter: 16px, $align: start, $template: 'name name' 'mail phone' 'msn msn' 'btn btn');
        max-width: 695px;
        margin: 0 auto;
        label {
          &.name {
            grid-area: name;
          }
          &.mail {
            grid-area: mail;
          }
          &.phone {
            grid-area: phone;
          }
          &.msn {
            grid-area: msn;
          }
          input {
            width: 100%;
            height: 46px;
            outline: none;
            border: 1px solid #CBC7C7;
            border-radius: 4px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: #5D6D88;
            padding: 0 24px;
          }
          textarea {
            width: 100%;
            height: 142px;
            outline: none;
            border: 1px solid #CBC7C7;
            border-radius: 4px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: #5D6D88;
            padding: 12px 24px;
          }
        }
        .btn {
          grid-area: btn;
          display: flex;
          justify-content: flex-end;
          padding: 20px 0 0 0;
        }
        button {
          width: 279px;
          height: 41px;
          background: #146CC7;
          border-radius: 4.65985px;
          border: none;
          font-family: 'Gilroy-Bold';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 116%;
          text-align: center;
          letter-spacing: 0.02em;
          color: #FFFFFF;
        }
      }
    }
    .free-materials {
      .grid-four {
        @include columns( $quant: 1fr 1fr 1fr 1fr, $gutter: 90px 34px, $align: start, $template: '');
        .item {
          width: 256.33px;
          .image {
            width: 100%;
            height: 146.47px;
            border-radius: 6px 6px 0px 0px;
            background-color: rgba(16, 40, 80, 0.1);
          }
          .tag {
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 500;
            font-size: 10.9854px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #8791A2;
            display: block;
            padding: 20px 0 7px 0;
          }
          h4 {
            font-family: 'Gilroy-Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            padding-bottom: 18px;
            margin-bottom: 19px;
            line-height: 120%;
            color: #102850;
            border-bottom: 1px solid #E5E7EB;
          }
          a {
            font-family: 'Gilroy-Medium';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            margin: 0 -2px 0 0;
            gap: 13px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #102850;
            display: flex;
            align-items: center;
            .icon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    .previous-exams {
      .grid-four {
        @include columns( $quant: 1fr 1fr 1fr 1fr, $gutter: 24px 20px, $align: start, $template: '');
        .item {
          padding: 24px 25px;
          background: #F3F9FF;
          border-radius: 6px;
          .date {
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 500;
            font-size: 10.9854px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #8791A2;
            display: block;
            padding: 0 0 7px 0;
          }
          h4 {
            font-family: 'Gilroy-Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            padding-bottom: 46px;
            margin-bottom: 19px;
            line-height: 120%;
            color: #102850;
            border-bottom: 1px solid #E5E7EB;
          }
          a {
            width: 161px;
            height: 42px;
            background: #146CC7;
            border-radius: 4px;
            font-family: 'Gilroy-Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 120%;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 7px;
          }
        }
      }
    }
    .grid {
      @include columns( $quant: 1fr 1fr, $gutter: 0, $align: flex-end, $template: '');
      padding: 0 14px 0 9px;
      .cols {
        &.right {
          text-align: center;
          padding: 0 0 76px 0;
        }
        h5 {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 160%;
          color: #5D6D88;
        }
        p {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: #5D6D88;
          padding: 0 0 69px 0;
          b {
            font-weight: 600;
          }
        }
        a.btn-whats {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 160%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFFFFF;
          width: 263px;
          height: 56px;
          background: #46C13B;
          border-radius: 8px;
          margin: 11px auto 0 auto;
          i {
            font-size: 32px;
            margin: 0 10px 0 0;
          }
        }
        a.link {
          font-family: 'Gilroy-Medium';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          margin: 0 -80px 0 0;
          gap: 13px;
          line-height: 120%;
          letter-spacing: 0.02em;
          color: #102850;
          display: inline-flex;
          align-items: center;
          .icon {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}